* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  /* max-width: 1440px; */
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}